/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
    font-family: "proxima-nova-bold";
    src: url(asset-path('Proxima-Nova-Bold.otf') format("opentype"));
}

p {
    margin-bottom: 0px !important;
}

body{
  font-family: 'proxima-nova-bold', 'sans-serif' !important;
  min-width: 327px;
}

.bg-blue{
   background-color: #3978C2 !important;
}

.nav-icon-white{
   font-size: 50px !important;
}

.bg-gray{
   background-color: #F0F3F2;
}

.wrapper-groups-btn { 
    height: 82vh !important;
    overflow-y: scroll !important;
}

.shadow {
   box-shadow: 0px 0px 10px #000000;
}

.group-btn{
    position: absolute;
    bottom: 0px ;
}

.nav-login-pg {
    height: 90px;
}

.word-splash{
   margin-top: 20vh;
}

.format-register-btn {
   margin-top: 35vh;
}

.user-img {
   height: 100px;
   width: 100px;
 }